.borders {
  border: 1px solid;
}
.px3 {
  padding: 0 3rem;
}
.mx {
  margin: 0 1rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.employeeTable {
  margin-top: 20px;
  min-width: 5rem;
}
.employeeTable th,
.employeeTable td {
  min-width: 200px;
  text-align: center;
}
.employeeTable td:not(:last-child):hover {
  background-color: antiquewhite;
}
